{%extends 'base_signup.html'%}
{%block title%}Dashboard{%endblock%}

{%block content%}
<div class="row-1">
    <div class="block-birck" style="width: 50%;">Поиск:</div>
    <div class="block-birck" style="width: 50%;">Заказы:</div>
    <div class="block-birck" style="width: 50%;">Корзина:</div>
    <div class="block-birck"><a href="/logout.html">Выход</a></div>
</div>
<div class="row-2">
    <div class="block-list">ТОП 3 продаж недели:</div>
    <h1>You logged in as {{username}}!</h1>
</div>
<div class="row-3">
    <div class="block-list">Разделы каталога:</div>
</div>
{%endblock%}