{%extends 'base.html'%}
{%block title%}Home page{%endblock%}

{%block content%}
<div class="row-1">
    <div class="block-birck" style="width: 50%;">Поиск:</div>
    <div class="block-birck" style="width: 25%;"><a href="/login">Login</a></div>
    <div class="block-birck" style="width: 25%;"><a href="/register">Create account</a></div>
</div>
<div class="row-2">
    <div class="block-list">ТОП 3 продаж недели:</div>
</div>
<div class="row-3">
    <div class="block-list">Разделы каталога:</div>
</div>

<h1>Here Home Page</h1>

</div>{%endblock%}